#HomeContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #3292ff, #094d9b);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

}
#backClouds{
    position:fixed;
    margin-top: auto;
    bottom: 0;
    right: 0;
    height: auto;
    width: 90vw;
    filter: brightness(220%);
    z-index: 0;

}
#backSun{
    position:fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 90vw;
    filter: brightness(200%);
    z-index: 0;
}

#Container1{
    width: 75vw;
    height: 8vh;
    margin-right: 5vw;
    padding: 0;
    z-index: 1;
    background-color:  rgba(0,0,0, 0.7);
    backdrop-filter: blur 5px;
    border-radius: 5px;
}

#ClusterGraph {
    background-color:  rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 38%;
    margin: 0;
    backdrop-filter: blur(10px); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-radius: 5px;
}


#Container2{
    width: 75vw;
    height: 39vh;
    margin-right: 5vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

#gaugeTitle{
    width: 100%;
    height: 17%;
    text-align: center;
    font-size: 2vw;
    /* background-color: #32323280; */
    font-family: 'Jura',sans-serif;
}

#gaugeUpdateTime{
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* font-family: 'Jura',sans-serif; */
}

#gaugeUpdateTime h1{
    font-size:1.5vw;
}
#gaugeUpdateTime h2{
    font-size:2vw;
}

#Container3{
    width: 75vw;
    height: 39vh;
    margin-right: 5vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}


#Recommendations {
    background-color: rgba(0, 0, 0, 0.7); 
    height: 100%;
    width: 60%;
    margin: 0;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#RecomendationsNumbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 24%;
    padding: 0;
    margin: 0;
    
}

#indexBox{
    height: 32%;
    aspect-ratio: 1/1;
    background-color: purple;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0; margin: 0;
}

#indexBoxTitle{
    font-size:3vh;
    padding: 0; margin: 0;
}

#indexBoxNumber{
    font-size: 4vh;
    padding: 0; margin: 0;
}



#RecomendationsText{
    height: 100%;
    width: 75%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* background-color: green; */
    padding: 0;
}

#tempBox{
    height: 32%;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 15px;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;

}

#tempBoxTitle{
    font-size:3vh;
    padding: 0; margin: 0;
}

#tempBoxNumber{
    font-size: 4vh;
    padding: 0; margin: 0;
}



#medidasControlIcons{
    background-color: white;
    width: 90%;
    height: 20%;
    padding: 0;
    margin: 0;
}


#RecomendationTextTitle{
    background-color: red;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 15%;
}

.RecomendationTextSubtitle{
    padding: 0;
    margin: 0;
    background-color: blue;
    height: 10%;
}

.RecomendationContainer{
    /* background-color: green; */
    height: 35%;
    padding: 0;
    padding-left: 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.RecomendationContainer h3{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    height: 25%;
    font-size: 1.1vw;
}


#medidasControlTitle{
    background-color: red;
    height: 10%;
    padding: 0;
    margin: 0;
}

#medidasControlIconsContainer{
    background-color: yellow;
    height: 30%;
}

#Chart {
    background-color:  rgba(255, 255, 255, 0.3); 
    height: 100%;
    width: 68%;
    margin: 0;
    backdrop-filter: blur(30px); 
}
#ChartInfo {
    background-color: rgba(0, 0, 0, 0.7); 
    height: 100%;
    width: 32%;
    margin: 0;
    backdrop-filter: blur(30px); 
}



