@import url('https://fonts.googleapis.com/css?family=Orbitron');

#sidebarContainer {
    height: 100vh;
    width: 15vw;
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.7), rgba(0, 0, 0, 0.9)); /* Gradiente semitransparente */
    backdrop-filter: blur(10px) brightness(80%);
    -webkit-backdrop-filter: blur(10px) brightness(80%); /* Compatibilidad con Safari */
    border-right: solid 1px rgb(71, 71, 71);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoContainer{
    width: 75%;
    margin: 0;
    padding: 0;
    margin-top: 1.5vh;
}
.logoContainer img{
    width: 100%;
    height: auto;
}
.clockContainer{
    width: 95%;
    padding: 0;
    margin-top: 4vh;
    text-align: center;
    font-family: 'Orbitron';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    gap: 1vh;
    margin-bottom: 3vh;
}
.divider{
    background-color: #9c9c9c9c;
    border: solid 0px;
    height: 2px;
    width: 90%;
}

.temperatureContainer{
    margin-top: 2vh;
    font-family: 'Orbitron';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3vh;
}
#TemperatureBar{
    height: 5vh;
    width: 90%;
}

.humidityContainer{
    margin-top: 2vh;
    font-family: 'Orbitron';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3vh;
}
#HumidityBar{
    /* background-color: red; */
    height: 5vh;
    width: 90%;
}
.sideBarGraphText{
    display: flex;
    width:70%;
    justify-content: center;
}
.sideBarGraphText img{
    margin-right: 2px;
}