/* 
.gaugeContainer {
    font-family: Arial;
    height: 75%;
    overflow: hidden;     /*          Esconde la mitad del circulo

    width: 78%;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    background: transparent;

    border: 60px solid transparent;
    background: linear-gradient(45deg, purple, orange) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;

    width: 100%;
    transition: transform 1.5s ease;
    transform: none;
    position: relative;

    aspect-ratio: 1/1;
    z-index: 7;
    top: 50%;
    border-radius: 50%;
    
}

.loader::before {
    content: '';
    border: 60px   solid rgba(255, 255, 255, 0.8);
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: inherit;
    
    height: inherit;
    width: inherit;
    left: -60px;
    top: -60px;
    
    transform: rotate(45deg);
    position: absolute;
    aspect-ratio: 1/1;
    z-index: 8;
}



.loader__title {
    color: #2e2e2e;
    top: 40%;
    font-size: 5rem;
    position: absolute;


} */


.chartMenu {
    height: 100%;
    aspect-ratio: 1/1;
    height: 40px;
    background: #1A1A1A;
    color: rgba(54, 162, 235, 1);
    z-index: 10;
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgba(54, 162, 235, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
  }