
.gaugeContainer {
    font-family: Arial;
    height: 90%;
    overflow: hidden;     /*          Esconde la mitad del circulo*/
    /* position: relative; */
    width: 94%;
    padding: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    background: transparent;
    border: 90px solid #cd8a8a;
    border-radius: 50%;
    width: 100%;
    transition: transform 1.5s ease;
    transform: rotate(var(--rotation));
    position: relative;
    /* width: 23rem; */
    aspect-ratio: 1/1;
    z-index: 7;
    top: 50%;
    
}

.loader::before {
    content: '';
    border: 90px   solid rgba(50,50,50,0.8);
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    
    height: inherit;
    width: inherit;
    left: -90px;
    top: -90px;
    transform: rotate(45deg);
    position: absolute;
    aspect-ratio: 1/1;
    z-index: 8;
}

.loader__title {
    color: #484848;
    font-size: 5rem;

    position: absolute;
    background-color: green;

}